<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Магазин</title>
</head>
<body>
    <h1>Магазин</h1>
        {% extends 'first_task/menu.html' %} {% block pagename %}{{ pagename }}{% endblock %}
{% block content %}
    <ul>
        {% if games %}
            {% for game in games %}
                <li>{{ game }} <a href="{% url 'games' %}">Купить</a></li>
            {% endfor %}
        {% else %}
            <li>Игры отсутствуют.</li>
        {% endif %}
    </ul>
{% endblock %}
</body>
</html>