
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список постов</title>
</head>
<body>

    <h1>Список постов</h1>

    {% if page_post %}
        <ul>
            {% for post in page_post %}
                <li>
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.content }}</p>
                </li>
            {% endfor %}
        </ul>
        <div class="pagination">
            {% if page_post.has_previous %}
                <a href="?page=1">&laquo; Первый</a>
                <a href="?page={{ page_post.previous_page_number }}">Предыдущий</a>
            {% endif %}

            <span>Страница {{ page_post.number }} из {{ page_post.paginator.num_pages }}</span>

            {% if page_post.has_next %}
                <a href="?page={{ page_post.next_page_number }}">Следующий</a>
                <a href="?page={{ page_post.paginator.num_pages }}">Последний &raquo;</a>
            {% endif %}
        </div>

    {% else %}
        <p>Посты отсутствуют.</p>
    {% endif %}

</body>
</html>
